*{
 list-style: none;
 text-decoration: none;
 box-sizing: border-box;
 padding: 0;
 margin: 0; 
}
.container{
  max-width: 1610px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}